<form id="formRegister">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Nombre</label>
      <input type="text" id="regNombre" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label>Apellido</label>
      <input type="text" id="regApellido" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" id="regEmail" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Contraseña</label>
    <input type="password" id="regPassword" class="form-control" required>
  </div>
  <button class="btn btn-primary btn-block">Registrar</button>
  <p class="mt-2 text-center">
    ¿Ya tienes cuenta?
    <a href="#" data-auth-view="login">Inicia Sesión</a>
  </p>
</form>

<script src="app/controllers/auth/authController.js"></script>