<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="resources/sweetalert/sweetalert2.min.css">

<div class="container mt-5">
    <h1 class="mb-4">🛒 Carrito de Compras</h1>
    <div id="contenido-carrito"></div>
    <div class="mt-4 text-end">
        <button id="finalizar-compra" class="btn btn-success">Finalizar Compra</button>
    </div>
</div>


<script src="resources/jquery/jquery.min.js"></script>
<script src="resources/popper/popper.min.js"></script>
<script src="resources/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="resources/bootstrap/js/bootstrap.min.js"></script>
<script src="resources/sweetalert/sweetalert2.all.min.js"></script>
<script src="app/controllers/cart/carrito.js"></script>
